form {
  width: 100%;
  padding: 10px;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  flex-grow: 1;
  border-radius: 8px;
  border: 1.5px solid #000;
  text-indent: 5px;
}


@media(max-width: 768px) {
  .input-container {
    grid-template-columns: 1fr;
  }
}
